.env
.env.backup
.env.production
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
docker-compose.override.yml
.DS_Store
Thumbs.db
.vscode/
.idea/
